.App {
  text-align: center;
}

/* @media screen and (max-width: 768px) {
  .App {
    text-align: center;
    width: fit-content;
  }
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header-image {
  background-image: url(./images/cover_bg_3.jpg);
}

.wrapper {
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 15px auto 0;
}

.wrapper .title {
  padding: 30px 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  /* border-bottom: 1px solid #ebedec; */
}

.wrapper .tabs_wrap {
  padding: 20px 20px 20px 0;
  /* border-bottom: 1px solid #ebedec; */
}

.wrapper .tabs_wrap ul {
  padding-left: 0px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .tabs_wrap ul li {
  list-style-type: none;
  width: 135px;
  text-align: center;
  background: #e9ecf1;
  border-right: 1px solid #c1c4c9;
  padding: 13px 15px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.wrapper .tabs_wrap ul li:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.wrapper .tabs_wrap ul li:last-child {
  border-right: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.wrapper .tabs_wrap ul li:hover,
.wrapper .tabs_wrap ul li.active {
  background: #f77168;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #outer-block {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }

  #outer-block1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }

  #outer-block2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }

  #outer-block3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }

  #groomBridePic {
    width: 150px !important;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  #cover-details {
    padding-top: 25%;
  }
}



@media screen and (max-width: 768px) {
  #outer-block {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }

  #outer-block1 {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }

  #outer-block2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }

  #outer-block3 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }

  #groomBridePic {
    width: 125px !important;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
  }

  #cover-details {
    padding-top: 90%;
  }
}

.items {
  display: inline-block;
  /* display: grid; */
  margin-bottom: 10px;
  width: 100%;
  float: right;
}

.container1 {
  position: relative;
  overflow: hidden;
  width: 75%;
  margin: auto;
  padding-top: 40%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.avatarImage {
  margin-top: 30px !important;
  font-weight: 700 !important;
}

.img-loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #f77168;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin: 10% auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.videoPrevious {
  /* background-color: #b4b5b4; */
  /* color: black; */
  width: 5%;
  margin-top: 1%;
  cursor: pointer;
  /* margin: 10px; */
  /* position: absolute; */
  /* float: left; */
  /* left: 3%; */
  /* top: 45%; */
}

.videoNext {
  /* background-color: #b4b5b4; */
  /* color: black; */
  width: 5%;
  margin-top: 1%;
  cursor: pointer;
  /* margin: 10px; */
  /* position: absolute; */
  /* float: left; */
  /* right: 3%; */
  /* top: 45%; */
}

.dots {
  width: 10%;
  padding-top: 1%;
}